In [66]:
from math import pi
import pandas as pd
import numpy as np
#importation du fichier

sales=pd.read_csv("Dataset_3_sales.csv", sep="|")
print(sales)
sales.describe()

       Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
0               0             0               0                 0
1               1             1               1                 1
2               2             2               2                 2
3               3             3               3                 3
4               4             4               4                 4
...           ...           ...             ...               ...
14199       14199         14199           14199             14199
14200       14200         14200           14200             14200
14201       14201         14201           14201             14201
14202       14202         14202           14202             14202
14203       14203         14203           14203             14203

       Unnamed: 0.1.1.1.1 Unnamed: 0.1.1.1.1.1 Unnamed: 0.1.1.1.1.1.1  \
0                       0                    0                      0
1                       1                    1                      1
2                       2                    2                      2
3                       3                    3                      3
4                       4                    4                      4
...                   ...                  ...                    ...
14199               14199                14199                  14199
14200               14200                14200                  14200
14201               14201                14201                  14201
14202               14202                14202                  14202
14203               14203                14203                  14203

      Unnamed: 0.1.1.1.1.1.1.1 Unnamed: 0.1.1.1.1.1.1.1.1 index  ...  \
0                            0                        0.0     0  ...
1                            1                        1.0     1  ...
2                            2                        2.0     2  ...
3                            3                        3.0     3  ...
4                  55555555555                        4.0     4  ...
...                        ...                        ...   ...  ...
14199                    14199                    14199.0  5676  ...
14200                    14200                    14200.0  5677  ...
14201                    14201                    14201.0  5678  ...
14202                    14202                    14202.0  5679  ...
14203                    14203                    14203.0  5680  ...

      Item_Fat_Content Item_Visibility              Item_Type  Item_MRP  \
0              Low Fat        0.016047                  Dairy  249.8092
1              Regular        0.019278            Soft Drinks   48.2692
2              Low Fat        0.016760                   Meat  141.6180
3              Regular        0.000000  Fruits and Vegetables  182.0950
4              Low Fat        0.000000              Household   53.8614
...                ...             ...                    ...       ...
14199          Regular        0.013496            Snack Foods  141.3154
14200          Regular        0.142991          Starchy Foods  169.1448
14201          Low Fat        0.073529     Health and Hygiene  118.7440
14202          Regular        0.000000                 Canned  214.6218
14203          Regular        0.104720                 Canned   79.7960

      Outlet_Identifier  Outlet_Establishment_Year Outlet_Size  \
0                OUT049                       1999      Medium
1                OUT018                       2009      Medium
2                OUT049                       1999      Medium
3                OUT010                       1998         NaN
4                OUT013                       1987        High
...                 ...                        ...         ...
14199            OUT046                       1997       Small
14200            OUT018                       2009      Medium
14201            OUT045                       2002         NaN
14202            OUT017                       2007         NaN
14203            OUT045                       2002         NaN

       Outlet_Location_Type        Outlet_Type Item_Outlet_Sales
0                    Tier 1  Supermarket Type1         3735.1380
1                    Tier 3  Supermarket Type2          443.4228
2                    Tier 1  Supermarket Type1         2097.2700
3                    Tier 3      Grocery Store          732.3800
4                    Tier 3  Supermarket Type1          994.7052
...                     ...                ...               ...
14199                Tier 1  Supermarket Type1               NaN
14200                Tier 3  Supermarket Type2               NaN
14201                Tier 2  Supermarket Type1               NaN
14202                Tier 2  Supermarket Type1               NaN
14203                Tier 2  Supermarket Type1               NaN

[14204 rows x 22 columns]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,14204.000000,14204.000000,14204.000000,14204.000000,14204.000000,14204.000000,14204.000000,14204.000000,8523.000000
mean,7101.500000,7101.500000,7101.500000,7101.500000,7101.500000,0.065953,141.004977,1997.830681,2181.288914
std,4100.485947,4100.485947,4100.485947,4100.485947,4100.485947,0.051459,62.086938,8.371664,1706.499616
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,31.290000,1985.000000,33.290000
25%,3550.750000,3550.750000,3550.750000,3550.750000,3550.750000,0.027036,94.012000,1987.000000,834.247400
50%,7101.500000,7101.500000,7101.500000,7101.500000,7101.500000,0.054021,142.247000,1999.000000,1794.331000
75%,10652.250000,10652.250000,10652.250000,10652.250000,10652.250000,0.094037,185.855600,2004.000000,3101.296400
max,14203.000000,14203.000000,14203.000000,14203.000000,14203.000000,0.328391,266.888400,2009.000000,13086.964800

In [67]:
#supression des colonnes inutiles

sales.drop(sales.iloc[:,0:10],1,inplace=True)

In [71]:
#compter les valeurs manquantes dans chaques colonnes

column_with_nan=sales.columns[sales.isnull().any()]
for column in column_with_nan:
    print(column,sales[column].isnull().sum())

Item_Weight 2434
Item_Fat_Content 50
Outlet_Size 4016
Item_Outlet_Sales 5681

In [72]:
#Suppression des valeurs manquantes 

sales=sales.dropna()

In [81]:
# vérification s'il y a encore des valeurs manquantes 

column_with_nan=sales.columns[sales.isnull().any()]
for column in column_with_nan:
    print(column,sales[column].isnull().sum())
print(sales)

     Item_Identifier Item_Weight Item_Fat_Content  Item_Visibility  \
0              FDA15         9.3          Low Fat         0.016047
1              DRC01        5.92          Regular         0.019278
2              FDN15        17.5          Low Fat         0.016760
4              NCD19        8.93          Low Fat         0.000000
5              FDP36      10.395          Regular         0.000000
...              ...         ...              ...              ...
8517           FDF53       20.75              reg         0.083607
8518           FDF22       6.865          Low Fat         0.056783
8520           NCJ29        10.6          Low Fat         0.035186
8521           FDN46        7.21          Regular         0.145221
8522           DRG01        14.8          Low Fat         0.044878

               Item_Type  Item_MRP Outlet_Identifier  \
0                  Dairy  249.8092            OUT049
1            Soft Drinks   48.2692            OUT018
2                   Meat  141.6180            OUT049
4              Household   53.8614            OUT013
5           Baking Goods   51.4008            OUT018
...                  ...       ...               ...
8517        Frozen Foods  178.8318            OUT046
8518         Snack Foods  214.5218            OUT013
8520  Health and Hygiene   85.1224            OUT035
8521         Snack Foods  103.1332            OUT018
8522         Soft Drinks   75.4670            OUT046

      Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
0                          1999      Medium               Tier 1
1                          2009      Medium               Tier 3
2                          1999      Medium               Tier 1
4                          1987        High               Tier 3
5                          2009      Medium               Tier 3
...                         ...         ...                  ...
8517                       1997       Small               Tier 1
8518                       1987        High               Tier 3
8520                       2004       Small               Tier 2
8521                       2009      Medium               Tier 3
8522                       1997       Small               Tier 1

            Outlet_Type  Item_Outlet_Sales
0     Supermarket Type1          3735.1380
1     Supermarket Type2           443.4228
2     Supermarket Type1          2097.2700
4     Supermarket Type1           994.7052
5     Supermarket Type2           556.6088
...                 ...                ...
8517  Supermarket Type1          3608.6360
8518  Supermarket Type1          2778.3834
8520  Supermarket Type1          1193.1136
8521  Supermarket Type2          1845.5976
8522  Supermarket Type1           765.6700

[4642 rows x 12 columns]

In [84]:
#verification des doublons 

sales.drop_duplicates()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.5,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
...,...,...,...,...,...,...,...,...,...,...,...,...
8517,FDF53,20.75,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8520,NCJ29,10.6,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.21,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.8,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700